<div class="card">
    <div class="title">
        <h1 style="font-size: 1.7rem; text-align: center" s>Gestion des candidatures</h1>
    </div>

    <!-- Le tableau -->
    <p-table #dt [value]="candidatures" dataKey="id" [rows]="10" [showCurrentPageReport]="true" [rowsPerPageOptions]="[10, 15, 20]" [loading]="loading" [paginator]="true" currentPageReportTemplate="{first} à {last} de {totalRecords} candidatures" [globalFilterFields]="['candidat.lastName', 'candidat.firstName', 'candidat.email', 'currentSituation','cursus.name', 'grades', 'status', 'datePostule']"
        responsiveLayout="scroll">
        <!-- La recherche -->

        <ng-template pTemplate="caption">
            <div class="p-d-flex p-ai-center p-jc-between container1">
                <span class="span1">
          <!-- <button
            pButton
            pRipple
            label="Ajouter"
            icon="pi pi-plus"
            class="p-button-success mr-2"
          ></button> -->
          <button
            pButton
            pRipple
            label="Exporter"
            icon="pi pi-upload"
            class="p-button-success mr-2"
            (click)="exportExcel()"
          ></button>
        </span>
                <span class="span2" class="p-input-icon-left" style="float: right;">
          <i class="pi pi-search"></i>
          <input
            [(ngModel)]="search"
            pInputText
            type="text"
            (input)="dt.filterGlobal(search, 'contains')"
            placeholder="Recherche"
          />
        </span>
            </div>
        </ng-template>

        <!-- Les colonnes -->
        <ng-template #myTemplate pTemplate="header">
            <tr [style]="{ width: 'auto !important' }">
                <th scope="col" style="text-align: center">Nom</th>
                <th scope="col" style="text-align: center">Prénom</th>
                <th scope="col" style="text-align: center">E-mail</th>
                <th scope="col" style="text-align: center">Téléphone</th>
                <th scope="col" style="text-align: center">
                    <div style=" display: flex; align-items: center; justify-content: center;">
                        <span>Date</span>&nbsp;&nbsp;
                        <p-columnFilter type="date" [showOperator]="false" [showAddButton]="false" field="datePostule" display="menu"></p-columnFilter>
                    </div>
                </th>
                <th scope="col" style="text-align: center; white-space: nowrap;">Situation actuelle</th>
                <th scope="col" style="text-align: center;">
                    <div style="display: flex; align-items: center; justify-content: center;">
                        <span>Cursus</span>&nbsp;&nbsp;
                        <p-columnFilter field="cursus.name" matchMode="in" display="menu" [showMatchModes]="false" [showOperator]="false" [showAddButton]="false">
                            <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                <p-multiSelect [options]="cursusList" [ngModel]="value" optionLabel="name" optionValue="value" placeholder="Cursus" (onChange)="filter($event.value)">
                                    <ng-template let-option pTemplate="item" style="width: 200px">
                                        <div style="width: 20vh">
                                            <span class="role-option">{{ option.name }}</span>
                                        </div>
                                    </ng-template>
                                </p-multiSelect>
                            </ng-template>
                        </p-columnFilter>
                    </div>
                </th>
                <th scope="col" style="text-align: center; white-space: nowrap;">Niveau académique</th>
                <th scope="col" style="text-align: center; white-space: nowrap;">Ecpérience IT</th>
                <th scope="col" style="text-align: center">
                    <div style="display: flex; align-items: center; justify-content: center;">
                        <span>Statut</span>&nbsp;&nbsp;
                        <p-columnFilter field="status" matchMode="in" display="menu" [showMatchModes]="false" [showOperator]="false" [showAddButton]="false">
                            <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                <p-multiSelect [options]="statusList" [ngModel]="value" optionLabel="name" optionValue="value" placeholder="Statut" (onChange)="filter($event.value)">
                                    <ng-template let-option pTemplate="item" style="width: 200px">
                                        <div style="width: 20vh">
                                            <span class="role-option">{{ option.name | titlecase }}</span>
                                        </div>
                                    </ng-template>
                                </p-multiSelect>
                            </ng-template>
                        </p-columnFilter>
                    </div>
                </th>
                <th scope="col" style="text-align: center">Actions</th>
            </tr>
        </ng-template>

        <!-- Le contenu -->
        <ng-template pTemplate="body" let-candidatures let-index="rowIndex">
            <tr>
                <td style="text-align: center">{{ candidatures.candidat.lastName | titlecase }}</td>
                <td style="text-align: center">{{ candidatures.candidat.firstName | titlecase }}</td>
                <td style="text-align: center">{{ candidatures.candidat.email | lowercase }}</td>
                <td style="text-align: center">{{ candidatures.candidat.tel }}</td>
                <td style="text-align: center">{{ candidatures.datePostule | date : 'dd MMMM yyyy' | titlecase }}</td>
                <td style="text-align: center">{{ candidatures.currentSituation }}</td>
                <td style="text-align: center">{{ candidatures.cursus.name }}</td>
                <td style="text-align: center">{{ candidatures.grades }}</td>
                <td style="text-align: center" *ngIf="!candidatures.itExperience">Débutant</td>
                <td style="text-align: center" *ngIf="candidatures.itExperience">Expérimenté</td>
                <td style="text-align: center" *ngIf="candidatures.status == 'Acceptée'"><span hidden>{{candidatures.status}}</span><svg style="color: rgb(0, 97, 0)" xmlns="http://www.w3.org/2000/svg" width="23" height="23" fill="currentColor" class="bi bi-check-circle-fill" viewBox="0 0 16 16">
                    <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
                  </svg></td>
                <td style="text-align: center" *ngIf="candidatures.status == 'Archivée'"><span hidden>{{candidatures.status}}</span><svg style="color: rgb(117, 117, 117)" xmlns="http://www.w3.org/2000/svg" width="23" height="23" fill="currentColor" class="bi bi-archive-fill" viewBox="0 0 16 16">
                    <path d="M12.643 15C13.979 15 15 13.845 15 12.5V5H1v7.5C1 13.845 2.021 15 3.357 15h9.286zM5.5 7h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1 0-1zM.8 1a.8.8 0 0 0-.8.8V3a.8.8 0 0 0 .8.8h14.4A.8.8 0 0 0 16 3V1.8a.8.8 0 0 0-.8-.8H.8z"/>
                  </svg>
                </td>
                <td style="text-align: center" *ngIf="candidatures.status == 'Refusée'"><span hidden>{{candidatures.status}}</span><svg style="color: rgb(199, 0, 0)" xmlns="http://www.w3.org/2000/svg" width="23" height="23" fill="currentColor" class="bi bi-x-circle-fill" viewBox="0 0 16 16">
                    <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z"/>
                  </svg></td>
                <td>
                    <div style="display: flex; justify-content: center;">
                        <em class="pi pi-info-circle mr-2" style="cursor: pointer; font-size: 1.3rem;" title="Télécharger le CV"></em>
                        <em class="pi pi-calendar-plus mr-2" style="cursor: pointer; font-size: 1.3rem;" title="TimeLine Candidature" (click)="timeLineApplication(candidatures)"></em>
                        <em class="pi pi-download" (click)="downloadCV(candidatures.candidat.id, candidatures.cv)" style="cursor: pointer; font-size: 1.3rem;" title="Télécharger le CV"></em>
                    </div>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="5">Pas de ressource trouvée.</td>
            </tr>
        </ng-template>
        <ng-template pTemplate="summary">
            <div class="p-d-flex p-ai-center p-jc-between" style="font-size: 1rem; font-weight: normal">
                Au total, il y a {{ candidatures ? candidatures.length : 0 }} candidature<span *ngIf="candidatures.length != 1">s</span>.
            </div>
        </ng-template>
    </p-table>
</div>
<p-dialog [(visible)]="productDialog" [style]="{width: '37vw'}" [breakpoints]="{'960px': '90vw', '640px': '80vw'}" [header]="header" [modal]="true" styleClass="p-fluid">
    <p-timeline [value]="events1" align="alternate" styleClass="customized-timeline">
        <ng-template pTemplate="marker" let-event>
            <span class="custom-marker shadow-2" [style.backgroundColor]="event.color">
                <i [ngClass]="event.icon"></i>
            </span>
        </ng-template>
        <ng-template pTemplate="content" let-event>
            <p-card [header]="event.status" subheader="{{event.date | date: 'dd MMMM yyyy HH:mm' | titlecase}}">
            </p-card>
        </ng-template>
    </p-timeline>
</p-dialog>