:host ::ng-deep .p-button.p-button-icon-only.p-button-rounded {
    height: 2.5rem;
}

:host ::ng-deep .p-button.p-button-icon-only {
    width: 2.5rem;
}

:host ::ng-deep .p-button.p-button-help.p-button-text,
.p-buttonset.p-button-help>.p-button.p-button-text,
.p-splitbutton.p-button-help>.p-button.p-button-text {
    color: #3B82F6;
}

:host ::ng-deep .p-button.p-button-help.p-button-text:enabled:hover,
.p-buttonset.p-button-help>.p-button.p-button-text:enabled:hover,
.p-splitbutton.p-button-help>.p-button.p-button-text:enabled:hover {
    color: #3bc1f6;
}

:host ::ng-deep .p-button.p-button-help.p-button-text:enabled:active,
.p-buttonset.p-button-help>.p-button.p-button-text:enabled:active,
.p-splitbutton.p-button-help>.p-button.p-button-text:enabled:active {
    border-color: #3B82F6;
    color: #3B82F6;
}

:host ::ng-deep .pi {
    font-size: 1.25rem;
}

:host ::ng-deep .p-tabview .p-tabview-panels {
    padding: 0;
}

.status {
    margin: 0;
    display: inline-flex;
    -webkit-user-select: none;
    user-select: none;
    align-items: center;
    vertical-align: bottom;
    text-align: center;
    overflow: hidden;
    position: relative;
    color: #ffffff;
    background: #3B82F6;
    border: 1px solid #3B82F6;
    padding: 0.5rem 0.5rem;
    font-size: 1rem;
    transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
    border-radius: 2rem;
}

//
:host ::ng-deep {
    .p-paginator {
        .p-paginator-current {
            margin-left: auto;
        }
    }

    .table-header {
        display: flex;
        justify-content: space-between;
    }

    .p-calendar .p-datepicker {
        min-width: 25rem;

        td {
            font-weight: 400;
        }
    }

    .p-datatable.p-datatable-customers {
        .p-datatable-header {
            padding: 1rem;
            text-align: left;
            font-size: 1.5rem;
        }

        .p-paginator {
            padding: 1rem;
        }

        .p-datatable-thead>tr>th {
            text-align: left;
        }

        .p-datatable-tbody>tr>td {
            cursor: auto;
        }

        .p-dropdown-label:not(.p-placeholder) {
            text-transform: uppercase;
        }
    }

    /* Responsive */
    .p-datatable-customers .p-datatable-tbody>tr>td .p-column-title {
        display: none;
    }
}

:host ::ng-deep.p-datatable-header {
    background: #f8f9fa !important;
}

.title {
    justify-content: space-between;
    flex-wrap: wrap;
    background: #f8f9fa;
    border: 1px solid #dee2e6;
    padding: 1.25rem;
    margin-bottom: 1.5rem !important;
    border-radius: 5px;
}

.emoji {
    font-family: "Segoe UI Emoji", "Noto Color Emoji", sans-serif;
    position: relative;
}

// :host ::ng-deep .p-dialog .p-dialog-header .p-dialog-header-icon {
//     display: none;
// }

:host ::ng-deep .p-dialog-mask {
    position: absolute;
    top: 0;
    left: 0px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
}

:host ::ng-deep span .p-dialog .p-dialog-header {
    display: none;
}

:host ::ng-deep .p-dialog .p-dialog-content {
    // padding: 1.5rem 1.5rem 2rem 1.5rem;
    padding-top: 0.5rem;
    padding-right: 1.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1.5rem;
}

@media (max-width: 500px) {
    :host ::ng-deep .p-tabview-nav {
        display: inline;
    }

    :host ::ng-deep .p-tabview .p-tabview-nav li .p-tabview-nav-link {
        padding-left: 0;
    }

    :host ::ng-deep .ml-auto {
        margin: auto
    }
}